---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.bg-gradient {
  background-image: linear-gradient(to bottom, var(--color-primary), var(--color-accent));
  background-repeat: no-repeat;
  height: 100%;
}

.top-nav {
  display: none;
}

.vertical-nav {
  text-decoration: none;
}

@media only screen and (min-width: 38em) {

  .top-nav {
    display: block;
  }

  .vertical-nav {
    display: none;
  }

}
