:root {
  --color-primary: #FEBA86;
  --color-primary-light: #FFFFFF;
  --color-secondary: #BC5890;
  --color-accent: #D18BCB;
  --color-neutral: #555555;

  --font-primary: "Basic Sans", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h3 {
  color: var(--color-primary-light);
}
