.continue-btn {
  background-color: #eb87ba;
  color: #fff;
  font-size: 1rem;
  padding: .5em;
  border-radius: 14px;
  text-decoration: none;
  box-shadow: 0px 1px 6px rgba(110, 110, 110, 0.4);
}

.continue-btn:hover {
  background-color: #ca4f92;
  transition: all 0.4s ease 0s;
}

.number-btn {
  display: inline-block;
  background-color: #eb87ba;
  color: #fff;
  font-size: 1rem;
  height: 30px;
  width: 30px;
  padding: .2em;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0px 1px 6px rgba(110, 110, 110, 0.4);
}

.number-btn:hover {
  background-color: #ca4f92;
  transition: all 0.4s ease 0s;
}

.date-time-btn {
  background-color: #eb87ba;
  color: #fff;
  font-size: 1rem;
  padding: .6em;
  border-radius: 14px;
  text-decoration: none;
  box-shadow: 0px 1px 6px rgba(110, 110, 110, 0.4);
}

.date-time-btn:hover {
  background-color: #ca4f92;
}

i {
  border: solid #eb87ba;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i:hover {
  border: solid #ca4f92;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
  transition: all 0.4s ease 0s;
}
