.section {
  background-color: rgb(188,88,144,0.2);
}

.container {
  color: var(--color-primary-light);
  background-color: rgba(113, 16, 104, 0.18);
  border-radius: 50px;
}

.edit {
  text-align: right;
}

.edit:hover {
  color: var(--color-secondary);
  transition: all 0.4s ease 0s;
}

i {
  border-width: 0;
  border-color: none;
}

.label-date {
  color: var(--color-primary-light);
}

.apt-link {
  transition: all 0.4s ease 0s;
}

.apt-link:hover p {
  color: var(--color-secondary);
}

.apt-link:hover h3 {
  color: var(--color-accent);
}

.apt-link:hover svg {
  fill: var(--color-primary);
}
