.calender {
  max-width: 35em;
  background-color: rgb(188,88,144,0.2);
  border-radius: 10px;
}

.day {
  border-bottom: 3px solid var(--color-primary-light);
  color: var(--color-primary-light);
}

h2 {
  color: var(--color-primary-light);
}

.day-link {
  text-decoration: none;
  color: var(--color-primary-light);
  transition: all 200ms linear;
  height: 2.5em;
  width: 2.5em;
  line-height: 1.8em;
  border-radius: 50px;
  display: inline-block;
}

a.day-link:hover {
  background-color: var(--color-secondary);
}

.day-link-active {
  background-color: var(--color-primary);
}
