input, textarea {
  border-radius: 20px;
  border-color: var(--color-secondary);
  border-width: thin;
  color: var(--color-primary-light);
  opacity: 75%;
}

label {
  color: var(--color-primary-light);
}

.form-item {
  height: 30px;
  color: var(--color-neutral);
}

section {
  background-color: rgb(188,88,144,0.2);
}

fieldset {
  border: 0;
}

legend {
  color: var(--color-primary-light);
}

p {
  color: var(--color-primary-light);
}
